.main-container{
    max-width: 50rem !important;
}

.logo{
    max-width: 100px;
}
.img-miniatura {
    max-width: 100px;
    border-radius: 50%;
    border-color:black;
    border-width:2px;
    border-style:solid;
}